* {
  box-sizing: border-box;
  font-size: 24px;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  -webkit-box-shadow: 3px 4px 7px -2px rgba(42, 206, 235, 1);
  -moz-box-shadow: 3px 4px 7px -2px rgba(42, 206, 235, 1);
  box-shadow: 3px 4px 7px -2px rgba(42, 206, 235, 1);
}
#users-list {
  list-style: none;
}
#users-list li {
  margin: 40px;
  padding: 30px;
}

#users-list > * {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#users-list li[data-connect="disconected"] {
  text-decoration: line-through;
}

#track {
  color: rgb(255, 0, 0);
}

#track > span {
  color: rgb(0, 117, 80);
}

.progress {
  width: 300px;
  height: 30px;
  background-color: darkgrey;
}

.progress > div {
  background-color: darkgreen;
  height: inherit;
  width: 0;
}

.form_wrapper {
  text-align: center;
}
